<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_4_0.xsd">

	<servlet>
		<servlet-name>AuditDMAnswerServlet</servlet-name>
		<display-name>AuditDM Servlet</display-name>
		<servlet-class>net.fhirfactory.pegacorn.hestia.audit.dm.edge.answer.AuditDMAnswerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuditEventWebServlet</servlet-name>
		<servlet-class>net.fhirfactory.pegacorn.hestia.audit.servlet.AuditEventWebServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuditDMAnswerServlet</servlet-name>
		<url-pattern>/dm/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuditEventWebServlet</servlet-name>
		<url-pattern>/fhir/AuditEvent</url-pattern>
	</servlet-mapping>

</web-app>